.titletext {
  position: absolute;
  font-family: sans-serif;
  font-size: 4rem;
  letter-spacing: 5px;
  font-weight: bold;
  top: 80px;
  margin-left: 20px



}
/* main color for nav-bar*/
.my-navbar {
  background-color: #6CBF57;
}

.coffee {
    height: 100%;
    width: 100%;
    min-height: 600px;
    min-width: 800px;

}
